/* Contact form start */

.contact-area {
  margin-top: 50px;
}

.section-heading {
  margin-bottom: 50px;
}

.contact-form input {
  margin-bottom: 20px;
}

input[type="submit"] {
  margin-bottom: 20px;
}

/* Contact form start */
