/**********Team Members style *************/
.team-member {
  margin-right: 1.5rem;
  transition: all 0.5s ease-in;
}

.team-member-info {
  text-align: center;
  margin-top: 1rem;
}

.team-member-name {
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.team-member-designation {
  font-weight: 200;
  font-size: 1.3rem;
  color: deepskyblue;
}

.team-member-social-list li {
  list-style: none;
  display: inline-block;
  width: 2.8rem;
  height: 2.8rem;
  margin-left: 0.3rem;
  font-size: 1.5rem;
}
